<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CrownSeal Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
    <h1 class="display-5" style="text-align: center;">เพิ่มที่อยู่</h1>

    <form action="#" th:action="@{/locations}" method="POST">
        <div class="mb-3">
            <label for="inputlocationName">ชื่อของที่อยู่</label>
            <input id="inputlocationName" type="input" class="form-control"
                   name="locationName">
        </div>

        <div class="mb-3">
            <label for="inputlocationDetail">รายละเอียดที่อยู่</label>
            <input id="inputlocationDetail" type="input" class="form-control"
                   name="locationDetail">
        </div>

        <div class="mb-3">
            <label for="inputsubDistrict">แขวง</label>
            <input id="inputsubDistrict" type="input" class="form-control"
                   name="subDistrict">
        </div>

        <div class="mb-3">
            <label for="inputdistrict">แขต</label>
            <input id="inputdistrict" type="input" class="form-control"
                   name="district">
        </div>

        <div class="mb-3">
            <label for="inputprovince">จังหวัด</label>
            <input id="inputprovince" type="input" class="form-control"
                   name="province">
        </div>

        <div class="mb-3">
            <label for="inputpostalCode">ไปรษณีย์</label>
            <input id="inputpostalCode" type="input" class="form-control"
                   name="postalCode">
        </div>

        <button id="submit-button" type="submit" class="btn btn-primary">เพิ่มที่อยู่</button>
    </form>
</div>

</body>
</html>