<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Crownseal Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">

    <h1 class="display-5" style="text-align: center;">ข้อมูลส่วนตัว</h1>

    <div class="display-6" style="text-align: -moz-right; font-size: 30px; margin:2rem">ชื่อ :
        <span th:text="${name}"></span>
    </div>

    <div  class="display-6" style="text-align: -moz-right; font-size: 30px; margin:2rem">อีเมล์ :
        <span th:text="${email}"></span>
    </div>

    <div class="display-6" style="text-align: -moz-right; font-size: 30px; margin:2rem">ชื่อผู้ใช้ :
        <span th:text="${username}"></span>
    </div>

    <div class="display-6" style="text-align: -moz-right; font-size: 30px; margin:2rem">เบอร์โทรศัพท์ :
        <span th:text="${phone}"></span>
    </div>

    <div class="display-6" style="text-align: -moz-right; font-size: 30px; margin:2rem">ตำแหน่ง :
        <span th:text="${role}"></span>
    </div>

</div>

</body>
</html>