<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Crownseal Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>

  <script>
    function passwordVisible() {
      var x = document.getElementById("inputPassword-2");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

    function passwordVisibleEngineer() {
      var x = document.getElementById("inputPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
</head>
<body>
  <div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">


<!-------------------------------------------------------engineer-->

  <form action="#" sec:authorize="isAuthenticated() and hasRole('ROLE_MANAGER')" th:action="@{/signup/engineer}" method="POST">
    <h1 style="text-align: center" class="display-5">สมัครสำหรับวิศวะกร</h1>
    <div id="success-msg" class="alert alert-success"
         th:if="${signupSuccess}">
      Successfully signed up! Please <a th:href="@{/login}">login</a>.
    </div>
    <div id="error-msg" class="alert alert-danger"
         th:if="${signupError}">
      <span th:text="${signupError}"></span>
    </div>


    <div class="mb-3">
      <label for="inputName">ชื่อผู้ใช้</label>
      <input id="inputName" type="input" class="form-control"
             name="name" required>
    </div>
    <div class="mb-3">
      <label for="inputUsername">บัญชีผู้ใช้</label>
      <input id="inputUsername" type="input" class="form-control" placeholder="ใช้สำหรับเข้าสู่ระบบ"
             name="username" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword">รหัสผ่าน</label>
      <input id="inputPassword" type="password" class="form-control"
             name="password" required>
      <label>
        <input type="checkbox" onclick="passwordVisibleEngineer()">
      </label> แสดงรหัสผ่าน
    </div>
    <div class="mb-3">
      <label for="inputPassword">อีเมล</label>
      <input id="inputEmail" type="email" class="form-control"
             name="email" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword">เบอร์โทรศัพท์</label>
      <input id="inputPhone" type="input" class="form-control"
             name="phoneNumber" required>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">เพื่มวิศวกรเข้าสู่ระบบ</button>
  </form>
</div>
  <!-------------------------------------------------------user-->
  <div class="container w-50 p-3" sec:authorize="isAnonymous()">
    <h1 class="display-5">สมัครสมาชิกสำหรับลูกค้า</h1>
    <form action="#"  th:action="@{/signup}" method="POST">
      <div id="success-msg-2" class="alert alert-success"
           th:if="${signupSuccess}">
        Successfully signed up! Please <a th:href="@{/login}">login</a>.
      </div>
      <div id="error-msg-2" class="alert alert-danger"
           th:if="${signupError}">
        <span th:text="${signupError}"></span>
      </div>


      <div class="mb-3">
        <label for="inputName-2">ชื่อผู้ใช้</label>
        <input id="inputName-2" type="input" class="form-control"
               name="name" required>
      </div>
      <div class="mb-3">
        <label for="inputUsername-2">บัญชีผู้ใช้</label>
        <input id="inputUsername-2" type="input" class="form-control" placeholder="ใช้สำหรับเข้าสู่ระบบ"
               name="username" required>
      </div>

      <div class="mb-3">
        <label for="inputPassword-2">รหัสผ่าน</label>
        <input id="inputPassword-2" type="password" class="form-control"
               name="password" required>
        <label>
          <input type="checkbox" onclick="passwordVisible()">
        </label> แสดงรหัสผ่าน
      </div>

      <div class="mb-3">
        <label for="inputPassword-2">อีเมล</label>
        <input id="inputEmail-2" type="email" class="form-control"
               name="email" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword-2">เบอร์โทรศัพท์</label>
        <input id="inputPhone-2" type="input" class="form-control"
               name="phoneNumber" required>
      </div>
      <label style="color: #000000;font-size: 25px;" >-แจ้งสถานที่ที่ชำรุด-</label>

      <div class="mb-3">
        <label for="inputlocationName">ชื่อของที่อยู่</label>
        <input id="inputlocationName" type="input" class="form-control"
               name="locationName" required>
      </div>

      <div class="mb-3">
        <label for="inputlocationDetail">รายละเอียดที่อยู่</label>
        <input id="inputlocationDetail" type="input" class="form-control"
               name="locationDetail" required>
      </div>

      <div class="mb-3">
        <label for="inputdistrict">เขต</label>
        <input id="inputdistrict" type="input" class="form-control"
               name="district" required>
      </div>

      <div class="mb-3">
        <label for="inputprovince">จังหวัด</label>
        <input id="inputprovince" type="input" class="form-control"
               name="province" required>
      </div>

      <div class="mb-3">
        <label for="inputpostalCode">ไปรษณีย์</label>
        <input id="inputpostalCode" type="text" class="form-control " inputmode="numeric" pattern="\d{0,5}" oninput="limitToFiveDigits(5)"
               name="postalCode" required>
      </div>

      <button id="submit-button-2" type="submit" class="btn btn-primary">สมัครสมาชิก</button>
    </form>
  </div>

</body>
</html>