<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Crownseal Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script>
    document.getElementById('viewWorkOrderButton').addEventListener('click', function() {
      var workOrderUrl = "https://example.com"; // Replace with the URL from your 'workOrderDetailUrl' field
      document.getElementById('workOrderLinkForm').action = workOrderUrl;
      document.getElementById('workOrderLinkForm').submit();
    });
  </script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
  <h1 class="display-6">รายละเอียด</h1>

  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr style="text-align: center; vertical-align: top; " class="table-secondary">
      <th>รายละเอียด</th>
      <th>รหัสเครื่องจักร</th>
      <th>ที่อยู่</th>
      <th>ลิ้งใบงาน</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
      <td style="text-align: right; max-width: 200px; word-wrap: break-word; " th:text="${order.getWork_detail()}"></td>
      <td style="text-align: right; max-width: 200px; word-wrap: break-word; "  th:text="${order.getProblem().getMachineNumber}"></td>
      <td style="text-align: right; max-width: 200px; word-wrap: break-word;">
        <span th:utext="${order.getProblem().getLocationName()}"></span><br>
        <span th:utext="${order.getProblem().getLocationDetail()}"></span><br>
        <span th:utext="${order.getProblem().getDistrict()}"></span><br>
        <span th:utext="${order.getProblem().getProvince()}"></span><br>
        <span th:utext="${order.getProblem().getPostalCode()}"></span>

      </td>

      <td style="text-align: center">
        <a th:href="${order.getWorkReportUrl().getWorkOrderDetailUrl()}" target="_blank">
          <button class="btn btn-primary">View Work Order</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

      <div class="container w-50 p-3">
        <h1 class="display-5" style="text-align: left;">ส่งรายงานซ่อมแซม</h1>

        <form action="#" th:action="@{/work/{workOrderId}/{problemId}/finish(workOrderId=${order.getId()},problemId=${order.getProblem().id})}" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="inputRepairingReportUrl">กรอกลิ้งรายงานการซ่อมแซม (กรุณาปรับให้เป็น Public)</label>
            <textarea id="inputRepairingReportUrl" type="input" class="form-control "
                      name="repairingReportUrl" style="width: 100%; height: 50px;" required></textarea>
          </div>

          <button id="submit-button" type="submit" class="btn btn-primary">finish</button>
        </form>
  </div>
</div>

<!--<script>-->
<!--  function showConfirmDialog(action) {-->
<!--    if (confirm('Are you sure you want to ' + action + ' this item?')) {-->
<!--      // If the user confirms, submit the form-->
<!--      if (action === 'Confirm') {-->
<!--        document.getElementById('submit-button').closest('form').submit();-->
<!--      } else if (action === 'Deny') {-->
<!--        document.getElementById('submit-button-2').closest('form').submit();-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--</script>-->

</body>
</html>